body{
	background-image: url(../img/fondomarmol.jpg);
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

	overflow-x: hidden;
}