.botonera{
	background-color: $mainColor;
	padding: 5px 30px;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	img{
		width: $w-50;
	}
	ul{
		display: flex;

		li{
			list-style: none;
			a{
				color: grey;
				font-size: $textMd;
				font-family: $fontMain;
				text-decoration: none;


				&:hover{
					color:$secondaryColor;
				}
			}

		}
	}


}